@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
    font-family: "roboto";
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    overflow: hidden;
}

.sidebar{
    background-color: rgb(0, 149, 235);
    grid-row: 1/3;
    color: white;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 3fr;
    padding-left: 1vw;
    padding-top: 1vh;
    font-weight: 700;
}

.headder{
    background-color: white;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding-top: 1vh;
    padding-left: 3vw;
}

.main{
    background-color: rgb(219, 219, 219);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 10vh;
    gap: 25px ;
    box-shadow: inset 0px 1px 5px darkgrey;
}

.headderleft,
.headerright{
    display: flex;
    gap: 20px;
    align-items: center;
}

.headerright{
    margin-right: 3vw;
}

.headderleft{
    flex-grow: 1;
}

.search{
    width: 80%;
    background-color: rgb(235, 235, 235);
    border-radius: 50px;
    border: none;
    height: 28px;
    font-size: 16px;
    padding-left: 10px;
}

.headdertop,
.headderbot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    gap: 20px;
}

.largename{
    font-size: 18px;
    margin-top: 5px; 
}

.maintitle{
    margin: 15px 0 10px;
    font-weight: 600;
    font-size: 18px;
}

.yourprojects{
    grid-row: 1 / 3;
    margin-left: 25px;
}

.projectcontainer{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(1fr);
}

.project{
    background-color: white;
    border-radius: 5px;
    padding: 4vh 3vw;
    display: flex;
    flex-direction: column;
    box-shadow: inset 25px 0px 0px -10px gold;
    box-shadow: 5px 5xp 3px black;
}

.anouncecontainer,
.trendcontainer{
    display: grid;
    border-radius: 15px;
    background-color: white; 
    margin-right: 30px; 
    padding: 10px 40px 10px;
}
.anounce{
    padding-top: 20px;
}

.anounce:not(:first-child){
    border-top: 1px solid darkgray;
}

.anouncecontainer{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    padding: 15px 50px 10px;
}

.trendcontainer{
    grid-template-rows: repeat(4,1fr);
    row-gap: 20px;
}

.trender{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 10px;
}

.trendpfp.pfp{
    grid-row: 1/3;
    height: 46px;
}

.trendstatus{
    color: rgb(126, 126, 126);
}

.trender>div{
    grid-column: 2/3;
}

.dashicon{
    height: 46px;
}

.title{
    display: flex;
    height: 50px;
    align-items: center;
}

.heading{
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px; 
}

ul{
    list-style-type: none;
}

li{
    height: 36px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 32px;
}

.pfp{
    height: 42px;
    border-radius: 32px;
    border: 1px solid rgb(199, 199, 199);
}

.lg.pfp{
    height: 52px;
}

.bell{
    height: 24px;
}

.name{
    font-weight: 700;
}

button{
    background-color: rgb(0, 149, 235);
    color: white;
    border: none;
    border-radius: 30px;
    height: 40px;
    width: 100px;
    margin-right: 2vw;
    font-weight: 700;
    font-size: 14px;
}

.projtitle,
.anntitle{
    font-weight: 700;
    padding-bottom: 5px;
    font-size: 17px ;
}

.projdesc,
.anndesc{
    color: rgb(126, 126, 126);
}

.projsymbols{
    flex-grow: 1;
    align-self: flex-end;
    display: flex;
    flex-direction:column-reverse;
}

.projnav{
    justify-self: end;
}

.projimg{
    padding-left: 25px;
}

.anndesc{
    font-size: 14px;
}